@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  span[class*='i-'] {
    @apply shrink-0;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
  }

  .embla__slide {
    min-width: 0;
    max-width: 100%;
  }

  @keyframes overlay {
    from {
      @apply bg-black/20 backdrop-blur-none;
    }
    to {
      @apply backdrop-blur-sm;
    }
  }

  @keyframes slide-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-bottom {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
