@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  span[class*='i-'] {
    @apply shrink-0;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
  }

  .embla__slide {
    min-width: 0;
    max-width: 100%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
